#google_translate_element select {
  margin-top: 1rem;
}

.home-page {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.home-title {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.home-page-input {
  width: 90%;
}

.result-container {
  width: 80%;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: flex-start;
}
