.drop-down-container {
  border: 1px solid #dbdde0;
  border-radius: 8px;
}

.drop-down-container:hover {
  border-color: var(--main);
  border-width: 2px;
}

.drop-down-item-flex {
  display: flex;
  padding: 0.75rem 1rem;
  gap: 0.75rem;
  cursor: pointer;
}

.drop-down-item-flex:hover {
  background-color: #e9f1f3;
}

.drop-down-first-item {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  border-radius: 8px;
}

.drop-down-first-item:hover {
  background-color: #e9f1f3;
}
