.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-content {
  width: 500px;
  background-color: black;
  border-radius: 5px;
  border: 1px solid darkgray;
  max-height: 100vh;
}
.modal-content h3 {
  margin-left: 2rem;
}
.modal-header {
  padding: 1rem;
}

.modal-body {
  padding: 1rem;
  border-top: 1px solid darkgray;
  /* border-bottom: 1px solid darkgray; */
}

.user-repo {
  height: 400px;
  overflow-y: auto;
}
.modal-actions {
  display: flex;
  justify-content: center;
}
.modal-actions button {
  background-color: black;
  color: white;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
