.custom-text-field {
  width: 100%;
  min-height: 4.5rem;
  border: 1px solid #a0a4a8;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0.75rem 1rem;
}

.custom-text-field:focus {
  outline: none;
  border: 2px solid var(--main);
}
