.custom-input {
  border: 1px solid #a0a4a8;
  height: 2rem;
  border-radius: 8px;
  width: 100%;
  padding: 1rem 1rem;
  text-align: center;
  height: 3rem;
}

.custom-input:focus {
  outline: none;
}

.custom-input:focus::placeholder {
  color: transparent;
}
